/* Note to self: Call with var(--colorname) */
:root {
  --linen: #f7f2ec;
  --sand: #f2e3c2;
  --salmon: #efa57e;
  --green: #008281;
  --blue: #83aac8;
  --yellow: #f1c77b;
  --red: #e26b00;
}

body {
  background: var(--linen);
  overflow-y: hidden;
  padding: 0; /*just added to check */
  margin: 0;
}

#game {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.panel {
  background-color: var(--yellow);
  height: 550px;
  width: 325px;
}

h1 {
  font-size: 16px;
}

.order-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.label > img {
  padding-right: 20px;
}

#berliner {
  visibility: hidden;
}

#laugenecke {
  visibility: hidden;
}

#zimtschnecke {
  visibility: hidden;
}
