/* Note to self: Call with var(--colorname) */
:root {
  --linen: #f7f2ec;
  --sand: #f2e3c2;
  --salmon: #efa57e;
  --green: #008281;
  --blue: #83aac8;
  --yellow: #f1c77b;
  --red: #e26b00;
}

body {
  background: var(--linen);
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0; /*just added to check */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#canvas {
  width: 800px;
}

.panel {
  background-color: var(--sand);
  height: 550px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.banner {
  width: 260px;
  padding-bottom: 24px;
}

.order-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 8px 0px;
}

.order-item img {
  height: 40px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.label > img {
  padding-right: 20px;
}

#berliner {
  visibility: hidden;
}

#laugenecke {
  visibility: hidden;
}

#zimtschnecke {
  visibility: hidden;
}

#completed-orders {
  text-align: center;
}
